/* Universal Styling */

html {
  font-size: 16px;
}

body {
  font-family: Roboto;
  line-height: 1.2;
  color: hsla(0,0%,30%,1);
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: hsla(0,0%,30%,1);
  padding: 2rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: hsla(0,0%,30%,1);
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: hsla(0,0%,30%,1);
}

h4 {
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: hsla(0,0%,60%,1);
}

p {
  font-size: .9rem;
  color: hsla(0,0%,60%,1);
}

.mobile {
  display: none;
}

.container {
  display: flex;
  max-width: 1200px;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 auto;
}

/* Header Section */

header {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  display: inline-flex;
  align-items: center;
}

header nav {
  margin: 0 0 0 auto;
}

header nav a{
  margin-left: 1rem;
  text-decoration: none;
  color: hsla(0,0%,30%,1)
}

header nav a:first-child{
  margin-left: 0px;
}

header img {
  height: 2.5rem;
  width: auto;
}

header span {
  text-transform: uppercase;
  font-size: 1.25rem;
}

header span.heavy {
  font-weight: bold;
  color: hsla(0,0%,30%,1)
}

header span.light {
  font-weight: normal;
  color: hsla(0,0%,60%,1)
}

@media only screen and (max-width:720px) {

  header {
    padding: 0;
  }

  header img, header span {
    display: none;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

  nav.mobile a{
    margin: 0;
    height: 2rem;
  }

  nav.mobile img {
    display: inline-block;
    margin: auto 0;
    height: 2rem;
    width: auto;
  }

}

/* Attract Section */

#attract {
  background-color: hsla(0,0%,85%,1);
}

.attract.container {
  padding: 2rem 0 2rem 1.5rem;
  width: 100%;
  align-items: center;
}

.attract.container img {
  width: 60%;
}

.attract-cta {
  width: 28%;
  padding-left: 1.5rem;
  display: inline-flex;
  flex-direction: column;
}

.attract-cta span {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: bold;
}

.attract-cta .button {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem 0;
  text-align: center;
  background-color: hsla(0,0%,30%,1);
  color:white;
}

@media only screen and (max-width:720px) {

  .attract.container {
    flex-direction: column;
    padding: 0;
  }

  .attract.container img {
    width: 100%;
  }

  .attract-cta {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 1rem;
    display: inline-flex;
    flex-direction: column;
  }

}

/* Overview Section */

.articles.container {
  background-color: hsla(0,0%,100%,1);
  padding: 1rem 0 2rem 0.5rem;
  width: 100%;
  height: 100%;
}

article.major {
  box-sizing: border-box;  height: auto;
  width: 60%;
  padding: 1rem 1rem 0 1rem;
  margin: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

article.major img {
  width: 100%;
  height: auto;
}

article.major span {
  display: block;
  font-size: .8rem;
  margin-top: auto;
}

.minor-articles {
  height:100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid hsla(0,0%,85%,1);

}

#overview article.minor:last-child {
  background-color: hsla(0,0%,85%,1);
}

article.minor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article.minor img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

article.minor .details {
  box-sizing: border-box;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 2rem 1rem 0;
}

article.minor p {
  margin: .5rem 0;
  font-size: .9rem;
}

article.minor a {
  font-size: .9rem;
  color: hsla(200,70%,50%,1);
  text-decoration: none;
}

@media only screen and (max-width:720px) {

  #overview .articles.container {
    padding: 0;
  }

  #overview article.major {
    display: none;
  }

  #overview .minor-articles {
    width: 100%;
    padding: 0;
    border: 0;
  }

  #overview article.minor {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem 2rem 1rem;
  }

  #overview article.minor img.desktop {
    display: none;
  }

  #overview article.minor img.mobile {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  #overview article.minor .details {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
  }

  #overview article.minor:last-child {
    background-color: hsla(0,0%,100%,1);
    padding-bottom: 1rem;
  }
}

/* Subjects Section */

#subjects {
  background-color: hsla(0,0%,85%,1);
}

#subjects h1 {
  text-align: center;
}

.subjects.container {
  box-sizing: border-box;
  padding: 0 3rem 1rem 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

#subjects a {
  text-decoration: none;
  background-color: white;
  padding-bottom: 1.5rem;
  margin: 0 1rem 1rem 1rem;
  line-height: 1.4;
}

.subject {
  max-width: 272px;
}

.subject img {
  width:100%;
  height: auto;
}

.subject-text {
  padding: 1rem 1rem 0 1rem;
}

@media only screen and (max-width:720px) {

  #subjects h1 {
    padding-bottom: 0.75rem;
  }

  #subjects img, #subjects h4, #subjects p {
    display: none;
  }

  .subjects.container {
    flex-flow: column nowrap;
    padding: 0 1rem 1.75rem 1rem;
  }

  #subjects a {
    background-color: white;
    padding: 0;
    margin: 0.25rem 0;
  }

  .subject {
    max-width: auto;
    width: 100%;
  }

  .subject-text {
    padding: 1rem;
  }

}

/* Thesis Section */
/* Most of the code to drive article alignment is located in the Overview section */

#thesis h1 {
  text-align: center;
  padding-bottom: 0;
}

#thesis video {
  width: 100%;
  height: auto;
}

#thesis article.major h3 {
  padding: 1.5rem 0 .5rem 0;
}

#thesis article.minor:first-child{
  background-color: hsla(0,0%,85%,1);
}

@media only screen and (max-width:720px) {

  #thesis .articles.container {
    padding: 0;
  }

  #thesis h1 {
    padding-bottom: 1rem;
  }

  #thesis article.major {
    width: 100%;
    padding: 0;
    margin: 0 0 1.5rem 0;
  }

  #thesis .minor-articles, #thesis h3, #thesis p {
    display: none;
  }

}

/* Footer Section */

footer {
  border-top: 1px solid hsla(0,0%,80%,1);
  padding: 1rem 1rem 4rem 1.5rem;
}

footer span, footer a {
  font-size: .8rem;
  color: hsla(0,0%,60%,1);
  text-decoration: none;
}

footer a {
  margin-left: .5rem;
}

footer nav {
  display: inline;
  float: right;
}

@media only screen and (max-width:720px) {

  footer {
    border-top: 0;
    padding: 1rem 0;
  }

  footer a, footer nav {
    display: none;
  }

}
